extends base

block content
    section.section-header
        .heading-box
            h1.heading-primary
                span= tour.name
            .heading-box__group
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href="img/icons.svg#icon-clock")

                    span.heading-box__text=`${tour.duration} days`

                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href="img/icons.svg#icon-map-pin")

                    span.heading-box__text Las Vegas, USA

    section.section-description
        div.overview-box
            div
                div.overview-box__group
                    h2.heading-secondary.ma-bt-lg Quick facts
                    div.overview-box__detail
                        svg.overview-box__icon
                            use(xlink:href="img/icons.svg#icon-calendar")
                        span.overview-box__label Next date
                        span.overview-box__text= tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})

                    div.overview-box__detail
                        svg.overview-box__icon
                            use(xlink:href="img/icons.svg#icon-trending-up")

                        span.overview-box__label Difficulty
                        span.overview-box__text= tour.difficulty

                    div.overview-box__detail
                        svg.overview-box__icon
                            use(xlink:href="img/icons.svg#icon-user")

                        span.overview-box__label Participants
                        span.overview-box__text= `${tour.maxGroupSize} people`

                    div.overview-box__detail
                        svg.overview-box__icon
                            use(xlink:href="img/icons.svg#icon-star")

                        span.overview-box__label Rating
                        span.overview-box__text= `${tour.ratingsAverage} / 5`

                div.overview-box__group
                    h2.heading-secondary.ma-bt-lg Your tour guides


                each guide in tour.guides
                    div.overview-box__detail
                        img.overview-box__img(src=`/img/users/${guide.photo}`  alt=`${guide.role}`)
                        span.overview-box__label= guide.role
                        span.overview-box__text= guide.name



        div.description-box
            h2.heading-secondary.ma-bt-lg= `About ${(tour.name).toLowerCase()}`
            p.description__text= tour.summary

            p.description__text= tour.description



    section.section-pictures
        each image in tour.images
            .picture-box
                img.picture-box__img.picture-box__img--1(src=`/img/tours/${image}` alt=`${tour.name}`)
      

    section.section-map
      .map
      script  
        include map.js
      

    section.section-reviews
      .reviews
        each review in reviews
            .reviews__card
                .reviews__avatar
                    img.reviews__avatar-img(src=`/img/users/${review.user.photo}` alt=`${review.user.name}`)
                    h6.reviews__user= review.user.name

                p.reviews__text= review.review
                .reviews__rating
                    each i in Array(review.rating).fill()
                        svg.reviews__star.reviews__star--active
                            use(xlink:href="/img/icons.svg#icon-star")

    section.section-cta
      .cta
        .cta__img.cta__img--logo
          img(src="/img/logo-white.png" alt="Natours logo")

        img.cta__img.cta__img--1(src=`/img/tours/${tour.images[0]}` alt="")
        img.cta__img.cta__img--2(src=`/img/tours/${tour.images[1]}` alt="")

        .cta__content
          h2.heading-secondary What are you waiting for?
          p.cta__text 10 days. 1 adventure. Infinite memories. Make it yours today!
          button.btn.btn--green.span-all-rows Book tour now!
